<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../ui/img/favicon.ico" type="image/x-icon">
    <title>Bramin FD</title>
    <link rel="stylesheet" href="../ui/css/style.css">
    <link rel="stylesheet" href="../ui/css/bootstrap.css">
    <!-- {{!-- FONTAWESOME --}} -->
    <script src="https://kit.fontawesome.com/42b6e33a0a.js" crossorigin="anonymous"></script>
    <!-- {{!-- Google fonts icons --}} -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,300,0,0" />
</head>
<body>
    <main class="body-newProduct">
        <div class="logo-container">
            <img class="logo new-product" src="../ui/img/logo.png" alt="Logo">
        </div>
    
        <div class="h1 title">Crear gasto</div>
    
    
            <div class="new-product-form">
                <form action="" id="gastoForm">
                    <input class="form-control"  id="gastosIniciales" type="text" name="gastosIniciales" placeholder="Gasto" autofocus>
                    <input class="form-control"  id="precio_unitario" type="text" name="precio_unitario" class="form-control" placeholder="Precio unitario" autofocus>
                    <input class="form-control"  id="cantidad" type="text" name="cantidad" class="form-control" placeholder="Cantidad" autofocus>
                    <div class="button-container">
                        <button class="form-control btn btn-new-product" type="submit">
                            Guardar    
                        </button>
                    </div>
    
                </form>
            </div>
       
    
    
    
    
    </main>
   
    <script src="../ui/createApp.js"></script>


</body>
</html>